[Unit]
Description=Save tmux sessions before shutdown/sleep
After=user@1000.service
Requires=user@1000.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=batman
Environment=HOME=/home/batman
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/bin/true
ExecStop=/bin/bash -c 'tmux -S /tmp/tmux-1000/default list-sessions &>/dev/null && /home/batman/.config/tmux/plugins/tmux-resurrect/scripts/save.sh'
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
