[Unit]
Description=Save tmux sessions before shutdown
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
ExecStart=/home/batman/.config/tmux/plugins/tmux-resurrect/scripts/save.sh
RemainAfterExit=yes

[Install]
WantedBy=shutdown.target reboot.target halt.target
